.navbar-nav .nav-link {
    border-bottom: 0.2rem solid transparent;
}

.item {
    padding:0;
    margin-top: 10px;
    margin-bottom: 10px;

    @media(max-width:767px) {
        margin-top: 0;
        margin-bottom: 0;
    }


}
ul li{
    display:inline-block;
    float: left;
}

